.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: space-around;
}
.movie_container{
  width: 300px;  
  /* background-color: orange; */
  
}
.poster{
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.movie-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name{
  margin: 0;
  font-size: 24px;
}
.movie-rating{
  font-size: 18px;
}

.movie-summay{
  margin-top: 0;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 24px;
  font-size: 20px;
}
.profile_pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 200px;
  transition: 0.2s;
}
.profile_pic:hover{
  transform: scale(1.1);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-detail-container{
  /* max-width:950px; */
}

.route-container{
  padding: 16px;
}

.board{
  /* background-color: orange; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3,1fr);
  min-width: 800px;
  width:200px;
  /* background-color: orange; */
  margin:100px auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-items: center; */
}

.gameBox{
  height: 160px ;
  /* width: 160px; */
  background: white;
  color: black;
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  /* text-decoration: solid; */
}
.gameBox:hover{
  background-color: rgb(249, 244, 244);
}